body {
  background: #000000;
  color: #00c9ff;
  font: 400 20px/1.5 "Roboto", Helvetica, Arial, sans-serif;
}

h1, .title {
  color: #00c9ff;
  font-size: 3em;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

a, a:hover, a:visited {
  color: #00c9ff;
  font-size: 2em; 
}

#social-container > * {
  display: inline-block;
  margin: 0 10px;
}

.img-container {
  margin: 0 auto;
  max-width: 600px;
}

img, .img-fluid {
  width: 100%;
}